@using Shared.Common;
@using Shared.Model.Request.Account;
@model ForgotPasswordRequestModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (!SiteKeys.IsLive)
    {
        <meta name="robots" content="noindex">
    }
    @await Html.PartialAsync("_AccountPagesCSSPartial")
    <title>Forgot Password</title>
</head>
<body class="outer">

    <!-- sidebar-login -->
    <aside class="sidebar-login">
      <div class="m-auto"><img src="~/assets/images/whiteLogo.svg" alt="logo-large" /></div>
    </aside>
    <!-- main-body -->
    <main class="main-body">
        <div class="content loginOuter">

            <!-- content -->
            <div class="row flex-fill g-4">
                <div class="col-md-12 d-flex align-items-center justify-content-center">
                    <div class="outer-box">
                        <div class="outer-box-header">
                            <h1>Forgot Password</h1>
                        </div>
                        <p>Please enter your email address. You will receive a link to create a new password via email. </p>
                        
                        <form id="forgotPasswordFrm">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <label>Email</label>
                                    <div class="position-relative">
                                        <input type="text" asp-for=Email class="form-control input-email" placeholder="Email" maxlength="100" />
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-12 pt-2">
                                    <button class="btn btn-primary w-100 text-center clsbtnsmt" type="button" onclick="sendForgotPasswordEmail(this)">Submit</button>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-center w-100 pt-2 signUpLink">
                                        <p>Back to <b><a href="@Url.Action("Login","Account")">Sign In</a></b></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </main>


    <!-- Js -->
    @await Html.PartialAsync("_JsScriptsPartial")
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_CommonScriptsPartial")
    <environment include="Development">
        <script src="~/sitejs/loginsignup.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/loginsignup.min.js"></script>
    </environment>
</body>
</html>