   <!-- breadcrumb -->
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Account",new { area="" })"><img src="~/assets/images/home.svg" alt="home" /></a></li>
     
    </ol>
</nav>