@using Shared.Common;
@using Shared.Model.Request.Account;
@model ForgotPasswordRequestModel
@{
    Layout = null;
}

<form id="forgotPasswordFrm">
    <div class="row">

        <div class="col-md-12 text-center">
            <div class="mb-4">
                <img class="loginLogoTop" src="@Url.Content("~/assets/images/whiteLogo.svg")" alt="">
            </div>
        </div>

        <div class="col-md-12">
            <div class="mb-3">
                <h5>Forgot Password</h5>
                <p>Please enter your email address. You will receive a link to create a new password via email. </p>

            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <label>Email</label>
                <div class="inputBox">
                    <input type="text" asp-for=Email class="form-control input-email" placeholder="Email" maxlength="100" />
                    <span class="iconInput"><img src="~/assets/images/email.svg" alt=""></span>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <span id="forgotErrorSpan" class="text-danger" style="display:none;margin: -15px 5px 15px 0px;"></span>
        <div class="col-md-12 ">
            <div class="mb-3">
                <button type="button" class="btn btn-primary w-100 text-center" id="submitBtn" onclick="sendForgotPasswordEmail(this)">Submit</button>
            </div>
        </div>

        
    </div>
</form>

