@model List<Shared.Model.DTO.GetCountryCodesDto>

@if (Model.Any())
{
    foreach (var country in Model)
    {
        <div class="item">
            <div class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="activateCountry(this)" role="button" data-country="@country.CountryName.ToLower()">
                    <i><img src="~/assets/images/flags/@(country.Abbreviation.ToLower()).svg"></i> @country.CountryName
                </a>

            </div>
        </div>

    }

}