@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="content">
    <div class="row flex-fill g-4">
        <div class="col-md-12">
            <div class="white-box">
                <div class="right-container">
                    <div class="container-fluid">
                        <div class="page-content inner-new-top ">

                            <div class="page-content-container">
                                <div class="page-content-row">
                                    <h2 class="section-heading">
                                        Welcome to User Dashboard
                                    </h2>

                                    <div class="dash_infos">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <span class="icon_of_panel"><i class="fas fa-users"></i></span>
                                                        <div>Total User</div>
                                                        <div class="huge">50</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <span class="icon_of_panel"><img src="~/assets/images/serviceProviders.svg" alt="bundle-icon" /></span>
                                                        <div>Total Service provider</div>
                                                        <div class="huge">10</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <span class="icon_of_panel"><img src="~/assets/images/completedJobs.svg" alt="bundle-icon" /></span>
                                                        <div>Total Completed Job</div>
                                                        <div class="huge">10</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <span class="icon_of_panel"><img src="~/assets/images/cancelledJobs.svg" alt="bundle-icon" /></span>
                                                        <div>Total Cancelled Job</div>
                                                        <div class="huge">3</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#Dashboard").addClass('active');
        });
    </script>
}

