@using Shared.Common
@using Shared.Common.Enums
@{
    ViewData["Title"] = "Popular Escorts";
}
<Section class="popularEscorts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="searcFilterBar mb-3">

                    <input type="text" class="searchBox form-control me-3" id="searchText" placeholder="Enter name or country">
                    <a href="javascript:void(0)" class="clear_icons" style="display:none">
                        <i><img src="~/assets/images/clear_icon.svg" width="20" /></i>
                    </a>

                    <a href="javascript:void(0)" onclick="pageNo=1;getPopularEscort(1)" class="btn btn-primary searchByName">Search</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2><span>Popular</span> Escorts</h2>
            </div>
            <div class="col-lg-12">
                <div class="row" id="popularEscorts">
                </div>

            </div>
            <div class="text-center" id="loadMoreBtn" style="display:none">
                <button type="button" class="btn btn-primary mt-5">Load More</button>
            </div>
        </div>
    </div>
</Section>


@section Scripts {
    <environment include="Development">
        <script src="~/sitejs/popularEscorts.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/popularEscorts.min.js"></script>
    </environment>
}

