@using Shared.Common;
@{
    Layout = null;
    ViewData["Title"] = "Logged out device";
    var IsURLValid = ViewBag.IsURLValid;
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @await Html.PartialAsync("_AccountPagesCSSPartial")
    @await Html.PartialAsync("_CSSPartial")
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Email Verification </title>

    <style type="text/css">
        html {
            position: relative;
            min-height: 100%;
        }


        body {
            height: 100%;
            background: #000;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            min-height: 100vh;
        }

        * {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .errorPage {
            display: flex;
            width: 100%;
            height: 100%;
            min-height: 100vh;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 2;
        }

        .errorPage_container {
            display: block;
            width: 100%;
            max-width: 600px;
            text-align: center;
            padding: 30px;
            padding-bottom: 60px;
        }

        .errorPage h1 {
            margin-top: 10px;
            font-size: 46px;
            margin-bottom: 10px;
            color: #fff;
        }

        .errorPage h2 {
            color: #fff;
        }

        .errorPage p {
            margin-top: 10px;
            font-size: 22px;
            margin-bottom: 30px;
            color: #fff;
        }

        .errorPage a.btn_back {
            display: inline-block;
            padding: 10px 30px;
            text-decoration: none;
            background: #EC881D;
            color: #fff;
            font-size: 14px;
            border-radius: 50px;
        }

            .errorPage a.btn_back:hover {
                background: #EC881D;
            }

            .errorPage a.btn_back img {
                width: 16px;
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
                margin-bottom: 1px;
            }

        .d-logo {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
        }

            .d-logo img {
                max-width: 400px;
                width: 100%
            }

        .errorPage p.lead {
            font-size: 16px;
            color: #fff;
        }
    </style>
</head>

<body id="page-top">
    <div class="cloud_layer">
        <div class="fog-container">
            <div class="fog-img fog-img-first"></div>
            <div class="fog-img fog-img-second"></div>
        </div>
    </div>
    @if (IsURLValid)
    {
        <div class="errorPage">
            <div class="errorPage_container">
                <div class="d-logo">
                    <img src="../assets/images/whiteLogo.svg" alt="logo" />
                </div>
                <p id="message">You have logged out from all devices.</p>
                
                   
                <div class="help-actions">
                    <a href="@Url.Action("Index", "Home")" class="btn_back">Go to Home</a>
                </div>
                 

            </div>
        </div>
    }
    else
    {
        <div class="errorPage">
            <div class="errorPage_container">
                <div class="d-logo">
                    <img src="../assets/images/whiteLogo.svg" alt="logo" />
                </div>
                <p id="message">Oops! It seems that this link has been expired.</p>
                <div class="help-actions">
                    <a href="@Url.Action("Index", "Home")" class="btn_back">Go to Home</a>
                </div>
             
            </div>
        </div>
    }

    @section scripts {
        @await Html.PartialAsync("_JsScriptsPartial")
        @await Html.PartialAsync("_ValidationScriptsPartial")
        @await Html.PartialAsync("_CommonScriptsPartial")
    }
</body>
</html>
