@using Shared.Common;
@using Shared.Model.Request.Account;
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container">
    <div class="card border-0 mt-3">
        <h5 class="mb-2">Reset Password</h5>
        <div class="row justify-content-center">
            @if (Model.ValidToken)
            {
                <form id="ResetPasswordFrm">
                    <input asp-for="Token" type="hidden" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label>Password</label>
                                <div class="position-relative">
                                    <input type="password" asp-for=Password class="form-control input-password" placeholder="Password" maxlength="16" />
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label>Confirm Password</label>
                                <div class="position-relative">
                                    <input type="password" asp-for=ConfirmPassword class="form-control input-password" placeholder="Confirm Password" maxlength="16" />
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pt-2">
                            <div class="mb-3">
                                <button class="btn btn-primary text-center" type="button" onclick="resetPassword(this)">Submit</button>
                            </div>
                        </div>

                    </div>
                </form>
            }
            else
            {
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="w-100 pt-2" style="padding-left:80px; font-size:20px;">
                            <span><Center>The reset password link has expired. Please request a new one.</Center></span>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


